# Dependências
node_modules/

# Build
.next/
out/

# Variáveis de ambiente
.env
.env.local
.env.production
.env*.local

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Vercel
.vercel/

# IDE
.vscode/
.idea/

# Arquivos temporários
*.tmp
whatsapp-server/